<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <style>
        body {
            background: linear-gradient(to right, #fceabb, #f8b500);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #333;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            font-size: 2.5em;
            color: #2c3e50;
        }
        p {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <h1>✅ <span th:text="${message}"></span></h1>
    <p>🚀 Successfully deployed using Jenkins & AWS EC2</p>
</body>
</html>
